<div class="guest-message-container mt-5 mb-5 wow animate__animated animate__slow animate__backInUp">
  <app-container-separator [invert]="false" [type]="2"></app-container-separator>

  <br>
  <app-title-flower>
    Recuerda tomar muchas fotos y compartirlas en Instagram
  </app-title-flower>

  <div class="p-4 text-center">
    <br>

    <img width="100" src="assets/img/instagram.png">

    <br><br>
    <a href="https://www.instagram.com/miranda_hg6/?hl=es-la">
      <button mat-stroked-button color="accent">
        <em class="mdi mdi-instagram"></em>
        Ir a mi instagram
      </button>
    </a>
  </div>

  <app-container-separator [invert]="true" [type]="2"></app-container-separator>
</div>
