.faq-container {
  background: #000000 !important;
  width: 100% !important;
}

.rings {
  background-image: url(~src/assets/img/wedding.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  width: 100%;
  height: 200px;
}

.xv {
  background-image:  url(~src/assets/img/xv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  width: 100%;
  height: 200px;
}

.xviii {
  background-image:  url(~src/assets/img/xviii.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 100%;
  height: 200px;
}

.christening {
  background-image:  url(~src/assets/img/christening.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 100%;
  height: 200px;
}

.faq-section {
  background: #D0B072;
  width: 100%;
  padding: 22px;
  color: white;
}

.heart-color {
  color: crimson;
}

img {
  border-radius: 200px;
  width: 75px;
  height: 75px;
}

a {
 color: white;
}
