mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.phantom-toolbar {
  height: 64px;
}

.user-icon {
  border-radius: 10px;
  width: 50px;
}

.sign-out-icon {
  margin-top: 7.5px;
  position: absolute;
  color: white;
  cursor: pointer;
}
