mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.phantom-toolbar {
  height: 64px;
}

.sign-out-icon {
  margin-top: 8px;
  position: absolute;
  color: white;
  cursor: pointer;
}

.small-icon {
  width: 45px;
  border-radius: 45px;
  margin-top: -5px !important;
}

.app-title {
  font-family: 'SendFlowers', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 26px;
  margin-top: 8px;
  color: whitesmoke;
  display: initial;
}

.app-load {
  font-family: 'SendFlowers', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  margin-top: 8px;
  color: whitesmoke;
  display: initial;
}
