<div class="w-100 text-center ps-5 pe-5">
  <svg viewBox="0 0 203 298" style="width: 35%">
    <polyline [attr.stroke]="primaryColor" style="fill: none; stroke-miterlimit: 10; stroke-width: 8px;" points="130 98 130 297 75 297 75 98" />
    <polyline [attr.stroke]="primaryColor" style="fill: none; stroke-miterlimit: 10; stroke-width: 8px;" points="75 53 75 1 130 1 130 53" />
    <polyline [attr.stroke]="primaryColor" style="fill: none; stroke-miterlimit: 10; stroke-width: 8px;" points="75 98 1 98 1 53 75 53" />
    <polyline [attr.stroke]="primaryColor" style="fill: none; stroke-miterlimit: 10; stroke-width: 8px;" points="130 53 202 53 202 98 130 98" />
  </svg>
</div>
