<div class="row">
  <div class="col-12">
    <h3>Calidad del código</h3>
    <hr>
  </div>

  <div class="col-6 mb-1">
    <img alt="alert status sonar" src="assets/quantity/alert_status.svg">
  </div>

  <div class="col-6 mb-1">
    <img alt="bugs sonar" src="assets/quantity/bugs.svg">
  </div>

  <div class="col-6 mb-1">
    <img alt="code smells sonar" src="assets/quantity/code_smells.svg">
  </div>

  <div class="col-6 mb-1">
    <img alt="coverage smells sonar" src="assets/quantity/coverage.svg">
  </div>

  <div class="col-6 mb-1">
    <img alt="duplicated lines density smells sonar" src="assets/quantity/duplicated_lines_density.svg">
  </div>

  <div class="col-6 mb-1">
    <img alt="vulnerabilities smells sonar" src="assets/quantity/vulnerabilities.svg">
  </div>
</div>
