<div class="mt-4 row">
  <div class="col-6">
    <h1 class="title-margin">Eventos</h1>
  </div>

  <div class="col-6 text-end">
    <mat-checkbox class="me-4" [checked]="showDone" (change)="showDone = !showDone">
      Ver eventos terminados
      <em *ngIf="showDone" class="mdi mdi-eye ms-2"></em>
      <em *ngIf="!showDone" class="mdi mdi-eye-off ms-2"></em>
    </mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Buscar un evento</mat-label>

      <input
        #searchInput
        matInput
        placeholder="🎉 super evento 🎊"
        (keyup)="findOnEvents(searchInput)"
      >

      <mat-icon *ngIf="!search" matSuffix>search</mat-icon>

      <button
        *ngIf="search"
        mat-icon-button
        matSuffix
        type="button"
        (click)="restoreSearchFilter(searchInput)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <hr>
</div>

<app-item-event
  *ngFor="let event of events"
  [event]="event"
  [showDone]="showDone"
></app-item-event>

<div *ngIf="events?.length === 0 && !search" class="text-center w-100">
  Parece que no tienes eventos registrados
</div>

<div *ngIf="events?.length === 0 && search" class="text-center w-100">
  No hay eventos que coincidan con la búsqueda 😕
</div>

<div *ngIf="events?.length > 0 && search && !showDone" class="text-center w-100">
  Hay eventos que coinciden, para verlos activa la opción
  <code class="pointer" (click)="showDone = !showDone">Ver eventos terminados</code>
  🙀
</div>

<div *ngIf="!error && load" class="row justify-content-center">
  <div class="col-4">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<mat-card *ngIf="error" class="card-error">
  {{ error }}
</mat-card>

<div class="end-space"></div>

<button
  mat-fab
  class="button-position"
  color="primary"
  [routerLink]="['create']"
>
  <mat-icon>
    add
  </mat-icon>
</button>


