<div class="mt-4 row">
  <div class="col-6">
    <h1 class="title-margin">Eventos</h1>
  </div>

  <div class="col-6 text-end">
    <mat-form-field appearance="outline">
      <mat-label>Buscar un evento</mat-label>

      <input
        #searchInput
        matInput
        placeholder="🎉 super evento 🎊"
        (keyup)="findOnEvents(searchInput)"
      >

      <mat-icon *ngIf="!search" matSuffix>search</mat-icon>

      <button
        *ngIf="search"
        mat-icon-button
        matSuffix
        type="button"
        (click)="restoreSearchFilter(searchInput)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <hr>
</div>

<app-item-event
  *ngFor="let event of events"
  [event]="event"
></app-item-event>

<div *ngIf="events?.length === 0" class="text-center w-100">
  Parece que no tienes eventos registrados
</div>

<div *ngIf="!error && load" class="row justify-content-center">
  <div class="col-4">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<mat-card *ngIf="error" class="card-error">
  {{ error }}
</mat-card>

<button mat-fab class="button-position" color="primary">
  <mat-icon>
    add
  </mat-icon>
</button>


