.mat-card {
  padding: 0 !important;
  margin-top: 124px;
}

.icon {
  height: 164px;
  border-radius: 100px;
  border-color: #D0B072;
  border-style: solid;
  border-width: 1px;
  margin-top: -82px;
}

.legend {
  font-family: 'NunitoSans', sans-serif;
  opacity: 50%;
  font-size: 11px;
  text-align: end;
  padding: 10px;
}

.password-icon {
  color: #616161;
}
