@font-face {
  font-family: Alice-Regular;
  src: url(~src/assets/fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: JosefinSans-Regular;
  src: url(~src/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: GreatVibes-Regular;
  src: url(~src/assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: DancingScript-Regular;
  src: url(~src/assets/fonts/DancingScript-Regular.ttf);
}
