<!--verificado para version 2-->

<div class="mt-5 background-white wow animate__animated animate__slow animate__fadeIn">
  <div class="row row-timer">
    <div class="col-12 text-center">
      {{ invitationName }}
    </div>

    <div class="col-12">
      <hr>
    </div>

    <div class="col-12 row">
      <div class="col-4 text-center">
        {{ month }}
      </div>

      <div class="col-4 text-center">
        {{ week }}
      </div>

      <div class="col-4 text-center">
        {{ days }}
      </div>

      <div class="col-4 text-center pt-2">
        Meses
      </div>

      <div class="col-4 text-center pt-2">
        Sem
      </div>

      <div class="col-4 text-center pt-2">
        Dias
      </div>
    </div>
  </div>
</div>
