<div class="row">
  <div class="col-4 text-end">
    <img class="user-icon" alt="user-icon-refresh" [src]="photo">
  </div>

  <div class="col-4 text-center arrow-container">
    <em class="mdi mdi-arrow-right mdi-24px"></em>
  </div>

  <div class="col-4">
    <div
      *ngIf="!reload"
      class="update-user-icon text-center pointer"
      (click)="refreshUserIcon()"
    >
      <em class="mdi mdi-reload mdi-24px"></em>
    </div>

    <div
      *ngIf="loadIcon"
      class="update-user-icon text-center pointer"
      (click)="refreshUserIcon()"
    >
      <em class="mdi mdi-loading mdi-24px mdi-spin"></em>
    </div>

    <img
      *ngIf="(userIcon && reload) && !loadIcon"
      class="user-icon pointer"
      alt="user-image-two"
      [src]="userIcon"
      (click)="refreshUserIcon()"
    >
  </div>
</div>
