<div class="container mt-5">
  <mat-tab-group selectedIndex="1">
    <mat-tab label="Invitaciones">
      Content 2
    </mat-tab>

    <mat-tab label="Nuestros Invitados">
      <h4 class="mt-4">
        <em>
          Aquí podrás ver el estatus de tus invitados,
          añadirlos <em class="mdi mdi-plus"></em>,
          editarlos <em class="mdi mdi-pencil"></em> y
          borrarlos <em class="mdi mdi-trash-can"></em>
        </em>
      </h4>

      <div class="p-3">
        <app-table-guest></app-table-guest>
      </div>
    </mat-tab>

    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

