.fa:before,
.fa {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-undo:before {
  content: '\F17B3' !important;
}

.fa-repeat:before {
  content: '\F17B7' !important;
}

.fa-bold:before {
  content: '\F0264' !important;
}

.fa-italic:before {
  content: '\F0277' !important;
}

.fa-underline:before {
  content: '\F0287' !important;
}

.fa-strikethrough:before {
  content: '\F0282' !important;
}

.fa-strikethrough:before {
  content: '\F0280' !important;
}

.fa-subscript:before {
  content: '\F0282' !important;
}

.fa-superscript:before {
  content: '\F0283' !important;
}

.fa-align-left:before {
  content: '\F0262' !important;
}

.fa-align-center:before {
  content: '\F0260' !important;
}

.fa-align-right:before {
  content: '\F0263' !important;
}

.fa-align-justify:before {
  content: '\F0261' !important;
}

.fa-indent:before {
  content: '\F0276' !important;
}

.fa-outdent:before {
  content: '\F0275' !important;
}

.fa-list-ul:before {
  content: '\F0279' !important;
}

.fa-list-ol:before {
  content: '\F027B' !important;
}

.angular-editor-toolbar {
  margin-bottom: -6px !important;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}

.angular-editor-textarea {
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
}
