$primary-color: #D0B072;
$primary-background: white;
$primary-color-transparent: rgba(208, 176, 114, 0.6);

$accent-color: #D0B072;
$accent-color-transparent: rgba(208, 176, 114, 0.25);
$accent-color-transparent-normal: rgba(208, 176, 114, 0.35);
$accent-background: white;
